{% extends "index_base.html" %}
{% load static %}

{% block title %}
<title>Lendguru.pl | O nas</title>
{% endblock %}

{% block body %}
<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">O nas</h1>
							<div class="separator-2"></div>
							<h3>Kim jesteśmy?</h3>
							<p>Jesteśmy grupą przedsiębiorców z doświadczeniem w małych firmach, przedsiębiorczości, finansach i sztucznej inteligencji, którzy mieszkali i pracowali m.in. w Stanach Zjednoczonych i Szwajcarii.</p>
							<p>W małych firmach rodzinnych zdaliśmy sobie sprawę, jak trudno jest zarządzać finansami małych firm i znaleźć właściwe finansowanie. Gdzie szukać dostawców usług finansowych? Które produkty? Jak porównać oferty?</p>
							<p>Kiedy się spotkaliśmy, zdaliśmy sobie sprawę, że mamy to co potrzeba, aby pomóc małym przedsiębiorstwom uzyskać  najlepszy możliwy dostęp do finansowania. Wiemy jak działają produkty finansowe, wiemy jakie są najtrudniejsze problemy małych firm i znamy właściwą technologię. A przede wszystkim wszyscy mamy wspólną pasję pomagania małym przedsiębiorstwom, które stanowią trzon polskiej  gospodarki, 98% wszystkich firm, gwarantując ponad 70% wszystkich miejsc pracy.</p>
							<br>
							<h3>Jaka jest nasza misja?</h3>
							<p>Naszą misją jest pomoc małym firmom w uzyskaniu właściwego finansowania. Wierzymy w silną firmę i długoterminowe podejście do wszystkiego, co robimy.</p>
							<br>
							<h3>Z jakiej technologii korzysta Lendguru?</h3>
							<p>Posiadamy obszerną bazę danych o produktach i instytucjach finansowych w Polsce, z szeroką specyfikacją każdego oferowanego produktu i własnym algorytmem Sztucznej Inteligencji, który wybiera tylko najlepsze opcje finansowania. Algorytm odczytuje potrzeby finansowe firmy i przeszukuje bazę danych w poszukiwaniu opcji, która najlepiej nadaje się do konkretnej sytuacji każdej firmy.</p>
							<p>Nasi inżynierowie i naukowcy nieustannie poprawiają Lendguru, aby zapewnić małym firmom najlepsze możliwe dopasowanie, w szybki, łatwy i bezstronny sposób.</p>
							<br>
							<h3>Jestem instytucją finansową i chcę nawiązać kontakt z Lendguru, jak mogę się z wami skontaktować?</h3>
							<p>Skontaktuj się z nami pod adresem <a href="mailto:kontakt@lendguru.pl">kontakt@lendguru.pl</a> wraz z ofertą Twoich produktów, a my wkrótce odezwiemy się do Ciebie. Cieszymy się, że możemy zaoferować naszym klientom coraz więcej coraz lepszych opcji finansowania.</p>
							<br>
							<h3>Jestem profesjonalistą i chcę zaoferować wasze usługi swoim klientom. Jak mogę to zrobić?</h3>
							<p>Napisz do nas na adres <a href="mailto:kontakt@lendguru.pl">kontakt@lendguru.pl</a> i powiedz nam o potrzebach Twoich klientów. Przedstawimy Ci nasze program współpracy z partnerami, w którym możesz oferować rozwiązania finansowe swoim klientom, wykorzystując naszą technologię i bazę danych.</p>
							<br><hr>
							<a target="_blank" href="https://www.facebook.com/lendguru" class="btn btn-lg btn-animated facebook">Facebook<i class="pl-10 fa fa-facebook-square"></i></a>
							<a target="_blank" href="https://twitter.com/lendguru" class="btn btn-lg btn-animated twitter">Twitter<i class="pl-10 fa fa-twitter"></i></a>
						</div>
						<!-- main end -->
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Kontakt</h3>
									<div class="separator-2"></div>
									<ul class="list">
										<li><i class="fa fa-phone pr-10"></i>+48 530 154 838</li>
										<li><i class="fa fa-envelope pr-10"></i><a href="mailto:kontakt@lendguru.pl">kontakt@lendguru.pl</a></li>
									</ul>
								</div>
							</div>
						</aside>

					</div>
				</div>
			</section>

{% endblock %}
