{% extends "index_base.html" %}
{% load static %}

{% block body %}
<br/>
<div class="container">
	<h1>{{ article.title }}</h1>

	<div class="post-info">
		<span class="post-date">
			<i class="icon-calendar"></i>
			<span class="month">{{ article.date }}</span>
		</span>
		{% if article.author|length > 0 %}
		<span class="submitted"><i class="icon-user-1"></i> dodany przez {{ article.author }}</span>
		{% endif %}
	</div>

	<div class="separator-2"></div>
	<div style="color: black; margin-left: 10px">
		{% autoescape off %}
	<p>{{ article.text|linebreaks }}</p>
		{% endautoescape %}
	</div>
</div>
<br>
<section class="section pv-40 default-bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action">
					<div class="row">
						<div class="col-sm-8">
							<h3 class="mt-10 text-muted">Znajdź opcje finansowania Twojego biznesu</h3>
						</div>
						<div class="col-sm-4 text-right">
							<a href="{% url 'index' %}" class="btn btn-lg btn-default btn-animated">Wypełnij formularz<i class="fa fa-arrow-right pl-20"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
