{% extends "index_base.html" %}
{% load static %}

{% block body %}
<div class="container">
	<div class="block clearfix">
		<br>
		<h1 class="title">Artykuły</h1>
		<br>
		<table class="table table-striped">
			{% for article in articles reversed %}
			<tr>
				<td>
					<div class="media margin-clear" style="margin-left:15px">
						<div class="media-body">
							<h3 class="media-heading"><a href="{% url 'article_view' id=article.id|stringformat:"04d" %}">{{ article.title }}</a></h6>
								<div class="post-info" style="font-size:12px; margin-top:7px;">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="month">{{ article.date }}</span>
									</span>
									{% if article.author|length > 0 %}
									<span class="submitted"><i class="icon-user-1"></i> dodany przez {{ article.author }}</span>
									{% endif %}
								</div>
								<br/>
								{% if article.description|length > 0 %}
								<p class="margin-clear">{{ article.description }}</p>
								{% else %}
								{% if article.text|length > 200 %}
								<p class="margin-clear">{{ article.text|slice:":197" }}...</p>
								{% else %}
								<p class="margin-clear">{{ article.text }}</p>
								{% endif %}
								{% endif %}
								<footer class="clearfix">
									<div class="link pull-right"><i class="icon-link"></i><a href="{% url 'article_view' id=article.id|stringformat:"04d" %}">Przejdź do artykułu</a></div>
								</footer>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endblock %}
