{% extends "index_base.html" %}
{% load static %}

{% block title %}
<title>Lendguru.pl | Kontakt</title>
{% endblock %}

{% block body %}
<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Skontaktuj się z nami</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p>Oferujemy Państwu możliwość skontaktowania się z nami za pomocą numeru telefonu, wiadomości e-mail lub poniższego formularza. Postaramy sie odpowiedzieć na Państwa pytania jak najszybciej.</p>
							<div class="alert alert-success hidden" id="MessageSent">
								Wiadomość została wysłana. Niedługo się z Państwem skontaktujemy!
							</div>
							<div class="alert alert-danger hidden" id="MessageNotSent">
								Coś poszło nie tak. Sugerujemy odświeżyć stronę i spróbować ponownie.
							</div>
							<div class="contact-form">
								<form class="form" action="/sumbitmessage/" method="post" accept-charset="utf-8">
									{% csrf_token %}
									<div class="form-group has-feedback">
										<label for="name">Imię i nazwisko / Nazwa firmy*</label>
										<input type="text" class="form-control" id="id_name" name="name" placeholder="" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="email">E-Mail*</label>
										<input type="email" class="form-control" id="id_email" name="email" placeholder="" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="subject">Temat wiadomości*</label>
										<input type="text" class="form-control" id="id_title" name="title" placeholder="" required>
										<i class="fa fa-navicon form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="subject">Numer telefonu</label>
										<input type="text" class="form-control" id="id_phone" name="phone" placeholder="">
										<i class="fa fa-phone form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="message">Treść wiadomości*</label>
										<textarea class="form-control" rows="6" id="id_message" name="message" placeholder="" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<button type="submit" class="save btn btn-animated btn-default-transparent">Wyślij<i class="fa fa-arrow-right"></i></button>
								</form>
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Kontakt</h3>
									<div class="separator-2"></div>
									<ul class="list">
										<li><i class="fa fa-phone pr-10"></i>+48 530 154 838</li>
										<li><i class="fa fa-envelope pr-10"></i><a href="mailto:kontakt@lendguru.pl">kontakt@lendguru.pl</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->

					</div>
				</div>
			</section>

{% endblock %}
