{% extends "index_base.html" %}
{% block body %}
{% load static %}
<div class="container" style="min-height: 60vh">
<h1>Materiały do pobrania</h1>
<br/>
<ul>
<li><a href="{% static "/Szukamy stażysty w sprzedaży B2B - Lendguru.pdf" %}">Szukamy stażysty w sprzedaży B2B - Lendguru.pdf</a></li>
<li><a href="{% static "/Szukamy stażysty w marketingu usług B2B - Lendguru.pdf" %}">Szukamy stażysty w marketingu usług B2B - Lendguru.pdf</a></li>
</ul>
</div>
{% endblock %}
