<!DOCTYPE html>
<html lang="pl">
<head>
	{% block title %}<title>Lendguru</title>{% endblock %}

	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Jesteśmy ekspertami w dziedzinie finansów przedsiębiorstw, pracowaliśmy w najlepszych instytucjach finansowych z różnorodnymi produktami finansowymi.">
	<meta name="author" content="lendguru.pl">

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static "template/images/favicon.ico" %}">

	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

	<!-- Bootstrap core CSS -->
	<link href="{% static "template/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

	<!-- Font Awesome CSS -->
	<link href="{% static "template/fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

	<!-- Fontello CSS -->
	<link href="{% static "template/fonts/fontello/css/fontello.css" %}" rel="stylesheet">

	<!-- Plugins -->
	<link href="{% static "template/plugins/magnific-popup/magnific-popup.css" %}" rel="stylesheet">
	<link href="{% static "template/css/animations.css" %}" rel="stylesheet">
	<link href="{% static "template/plugins/hover/hover-min.css" %}" rel="stylesheet">

	<!-- the project core CSS file -->
	<link href="{% static "template/css/style.css" %}" rel="stylesheet" >
	<link href="{% static "template/css/typography-default.css" %}" rel="stylesheet" >

	<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
	<link href="{% static "template/css/skins/light_blue.css" %}" rel="stylesheet">
	<!-- Custom css -->
	<link href="{% static "template/css/custom.css" %}" rel="stylesheet">

	<link href="{% static "cookielaw/css/cookielaw.css" %}" rel="stylesheet">

	<!-- old data
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-92511981-1', 'auto');
	ga('send', 'pageview');-->

	</script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-98906350-1', 'auto');
	ga('send', 'pageview');

	</script>

	<script src="{% static "cookielaw/js/cookielaw.js" %}"></script>
</head>

{% load cookielaw_tags %}

<body style="min-height: 100%">
	{% cookielaw_banner %}

	<div class="header-container" style="padding-bottom: 0px;">


		<!-- header-top start -->
		<!-- classes:  -->
		<!-- "dark": dark version of header top e.g. class="header-top dark" -->
		<!-- "colored": colored version of header top e.g. class="header-top colored" -->
		<!-- ================ -->

		<!-- header-top end -->

		<!-- header start -->
		<!-- classes:  -->
		<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
		<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
		<!-- "full-width": mandatory class for the full-width menu layout -->
		<!-- "centered": mandatory class for the centered logo layout -->
		<!-- ================ -->
		<header class="header  fixed    clearfix">

			<div class="container">
				<div class="row">
					<div class="col-md-3 ">
						<!-- header-first start -->
						<!-- ================ -->
						<div class="header-first clearfix">

							<div id="logo" class="logo">
								<a href="{% url 'index' %}"><img id="logo_img" src="{% static "gfx/logo.png" %}" alt="Lendguru"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-slogan">
								<i>W 100% darmowe, bez zobowiązań</i>
							</div>

						</div>
						<!-- header-first end -->

					</div>
					<div class="col-md-9">

						<!-- header-second start -->
						<!-- ================ -->
						<div class="header-second clearfix">

							<!-- main-navigation start -->
							<!-- classes: -->
							<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
							<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
							<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
							<!-- ================ -->
							<div class="main-navigation animated with-dropdown-buttons">

								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse in" id="navbar-collapse-1">
											<!-- main-menu -->
											<ul class="nav navbar-nav ">
												<li style="">
													<a href="{% url 'index' %}" class="dropdown-toggle">Strona główna</a>
												</li>
												<li style="">
													<a href="{% url 'articles_view' %}" class="dropdown-toggle">Artykuły</a>
												</li>
												<li style="">
													<a href="http://www.blog.lendguru.pl/" class="dropdown-toggle">Blog</a>
												</li>
												<li style="">
													<a href="{% url 'about' %}" class="dropdown-toggle">O nas</a>
												</li>
											</ul>
											<!-- main-menu end -->

											<!-- header buttons -->
											<div class="header-dropdown-buttons">
												<a href="{% url 'contact' %}" class="btn btn-sm hidden-xs btn-default">Kontakt<i class="fa fa-envelope-o pl-5"></i></a>
												<a href="{% url 'contact' %}" class="btn btn-lg visible-xs btn-block btn-default">Kontakt<i class="fa fa-envelope-o pl-5"></i></a>
											</div>
											<!-- header buttons end-->

										</div>

									</div>
								</nav>

							</div>
							<!-- main-navigation end -->
						</div>
						<!-- header-second end -->

					</div>
				</div>
			</div>

		</header>
		<!-- header end -->
	</div>

	{% block body %} {% endblock %}

	<footer id="footer" class="clearfix">

		<!-- .footer start -->
		<!-- ================ -->
		<div class="footer">
			<div class="container">
				<div class="footer-inner">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="footer-content text-center padding-ver-clear">
								<div class="logo-footer"><img id="logo-footer" class="center-block" src="{% static "gfx/logo.png" %}" alt=""></div>
								<ul class="list-inline mb-20">
									<li><a href="tel:+48 530 154 838" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+48 530 154 838</a></li>
									<li><a href="mailto:kontakt@lendguru.pl" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>kontakt@lendguru.pl</a></li>
								</ul>
								<ul class="social-links circle animated-effect-1 margin-clear">
									<li class="facebook"><a target="_blank" href="https://www.facebook.com/lendguru/"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="https://twitter.com/lendguru"><i class="fa fa-twitter"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
								</ul>
								<div class="separator"></div>
								<p class="text-center margin-clear">Copyright © 2017 <a target="_blank" href="http://www.lendguru.pl">lendguru.pl</a>. Wszystkie prawa zastrzeżone.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .footer end -->

	</footer>

	<script type="text/javascript" src="{% static "template/plugins/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "template/bootstrap/js/bootstrap.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/modernizr.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/isotope/isotope.pkgd.min.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/waypoints/jquery.waypoints.min.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/jquery.countTo.js" %}"></script>
	<script src="{% static "template/plugins/jquery.parallax-1.1.3.js" %}"></script>
	<script src="{% static "template/plugins/jquery.validate.js" %}"></script>
	<script src="{% static "template/plugins/vide/jquery.vide.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/jquery.browser.js" %}"></script>
	<script type="text/javascript" src="{% static "template/plugins/SmoothScroll.js" %}"></script>
	<script type="text/javascript" src="{% static "template/js/template.js" %}"></script>
	<script type="text/javascript" src="{% static "template/js/custom.js" %}"></script>

	<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</html>
