{% extends "index_base.html" %}
{% load static %}

{% block body %}

<div class="main-container parallax jumbotron border-clear translucent-bg margin-clear" style="min-height: 75vh; background-position: 50%; padding-left:20px; background-attachment: fixed; background-size: cover; background-image:url(&#39;{% static "gfx/man-worker.jpg" %}&#39;);">
	<!-- section start -->
	<!-- ================ -->

	<div class="container">
			<br><br>
			<span style="display: inline-block; vertical-align: middle; line-height: normal;">
				<h1 class="tp-caption xlarge_white" style="color: white">Lendguru</h1>
			</span>
	</div>
</div>

<section class="section pv-40 dark-bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action">
					<div class="row">
						<div class="col-sm-8">
							<h3 class="mt-10 text-muted">Znajdź opcje finansowania Twojego biznesu</h3>
						</div>
						<div class="col-sm-4 text-right">
							<a href="#formularz" class="btn btn-lg btn-default btn-animated">Wypełnij formularz<i class="fa fa-arrow-right pl-20"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section light-gray-bg">
	<div class="container">
		<div class="col-md-6">
			<img style="width: 700px" src="{% static "gfx/man-pc.jpg"%}" alt="">
		</div>
		<div class="col-md-6">
			<p class="lead" style="font-size: 2em; padding-left:20px">Wiele opcji finansowania Twojego biznesu</p>
			<ul class="list" style="font-size: 1.5em; padding-left:40px">
				<li class="medium"><i class="icon-check text-default"></i> Linie kredytowe</li>
				<li class="medium"><i class="icon-check text-default"></i> Kredyty inwestycyjne</li>
				<li class="medium"><i class="icon-check text-default"></i> Faktoring</li>
				<li class="medium"><i class="icon-check text-default"></i> Leasing</li>
				<li class="medium"><i class="icon-check text-default"></i> Finansowanie nieruchomości</li>
				<li class="medium"><i class="icon-check text-default"></i> Pożyczki pozabankowe</li>
			</ul>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="col-md-6">
			<div class="feature-box-2 margin-clear">
				<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
				<p >Wiemy jak trudno jest małym i średnim firmom znaleźć, porównać i uzyskać najkorzystniejsze opcje finansowania.
					Proces jest długotrwały, a porównanie ofert okazuje się skomplikowane.W Lendguru.pl chcemy to uprościć. Ty wypełniasz jeden prosty formularz, a my za Ciebie wybieramy i porównujemy
					kilkadziesiąt ofert finansowania Twojego biznesu dostępnych na rynku i prezentujemy je w przystępnej formie.</p>
					<br/>
					<h4>Korzystasz z naszej platformy za darmo!
						... i nie masz obowiązku wyboru żadnej z zaprezentowanych ofert!</h4>
					</div>
				</div>
				<div class="col-md-6">
					<img style="width: 700px" src="{% static "gfx/bkg.jpg"%}" alt="">
				</div>
			</div>
		</section>

		<section class="section light-gray-bg">
			<div class="container">
				<div class="col-md-6">
					<img style="width: 700px" src="{% static "gfx/man-desktop.jpg"%}" alt="">
				</div>
				<div class="col-md-6">
					<br class="hidden-sm hidden-xs">
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-snow"></i></span>
						<div class="body">
							<h4>Prosto, szybko, bez żadnych kosztów</h4>
							<p>Zbieramy i selekcjonujemy dla Ciebie tylko najlepsze oferty na rynku, które są dopasowane do Twojego biznesu.</p>
							<div class="separator-2 visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-tools"></i></span>
						<div class="body">
							<h4>Twoja decyzja</h4>
							<p>Ostateczną decyzję zawsze pozostawiamy Tobie - to Ty najlepiej znasz swój biznes.</p>
							<div class="separator-2 visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-star-empty"></i></span>
						<div class="body">
							<h4>Pełen profesjonalizm</h4>
							<p>Jesteśmy ekspertami w dziedzinie finansów przedsiębiorstw, pracowaliśmy w najlepszych instytucjach finansowych z różnorodnymi produktami finansowymi.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section default-bg" >
			<div class="container">
				<div class="col-md-6">
					<br class="hidden-sm hidden-xs">
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg">1.</span>
						<div class="body">
							<h4>Wypełnij formularz</h4>
							<p>Wpisz obok dane swojej firmy. Jeśli chcesz, możesz powiedzieć nam o swoich dodatkowych uwagach, a my to uwzględnimy.</p>
							<div class="separator-2 visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg">2.</span>
						<div class="body">
							<h4>Nasz system wybierze najlepsze propozycje dla Ciebie</h4>
							<p>Zostanie Ci przedstawiona lista najbardziej korzystnych ofert dla Ciebie w odpowiedniej kolejności.</p>
							<div class="separator-2 visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg">3.</span>
						<div class="body">
							<h4>Otrzymasz wiadomość od naszej firmy.</h4>
							<p>Postaramy się jak najszybciej z Tobą skontaktować.</p>
						</div>
					</div>
				</div>

				<div class="col-md-6 body">
					<div id="formularz">
						<form class="form-inline" action="/form/" method="post" accept-charset="utf-8">
							{% csrf_token %}

							<div class="row">
								<div class="col-md-6">
									{{ form.amount.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="Podaj kwotę finansowania."></span>
									<br/>
									<div class="input-group input-group" style="width:100%; padding-bottom: 10px">
										<div class="input-group-addon" style="color:white">PLN</div>
										<input class="form-control" type="number" name="amount" id="id_amount" step="1000" min="0" required/>
									</div>
									<br/>

									{{ form.duration.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="Podaj okres finansowania."></span>
									<br/>
									<div class="input-group input-group" style="width:100%; padding-bottom: 10px">
										<div class="input-group-addon" style="color:white"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
										<input class="form-control" type="number" name="duration" id="id_duration" min="0" required>
									</div>
									<br/>

									{{ form.time_operating.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="toottip text here..."></span>
									<br/>
									<div class="input-group input-group" style="width:100%; padding-bottom: 10px">
										<div class="input-group-addon" style="color:white"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
										<input class="form-control" type="number" name="time_operating" id="id_time_operating" min="0" required>
									</div>
									<br/>
								</div>
								<div class="col-md-6">

									{{ form.legal_type.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="toottip text here..."></span>
									<br/>
									<div style="padding-bottom: 10px">
									<select class="form-control" name="legal_type" id="id_legal_type" style="width: 100%">
										{% for choice in form.legal_type.field.choices %}
										<option style="color:black;" value="{{ choice|first }}">{{ choice|last }}</option>
										{% endfor %}
									</select>
									<br/>
									</div>


									{{ form.email.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="toottip text here..."></span>
									<br/>
									<div class="input-group input-group" style="width:100%; padding-bottom: 10px">
										<div class="input-group-addon" style="color:white">@</div>
										<input class="form-control" type="email" name="email" id="id_email" required>
									</div>
									<br/>

									{{ form.purpose.label }}
									<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" style="color: rgba(70, 70, 70, 0.5)" aria-hidden="true" title="toottip text here..."></span>
									<br/>
									<select class="form-control" name="purpose" id="id_purpose" style="width: 100%; padding-bottom: 10px">
										{% for choice in form.purpose.field.choices %}
										<option style="color:black;" value="{{ choice|first }}">{{ choice|last }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<br/>
							{{ form.tellmore.label }}
							<span data-toggle="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" title="toottip text here..."></span>
							<br/>
							<textarea class="form-control" name="tellmore" id="id_tellmore" rows="4" style="width:100%"></textarea>
							<br/>

							<input type="checkbox" name="acceptance" required> Wyrażam zgodę na przetwarzanie moich danych osobowych</input>
							<br/>
							<button type="submit" class="save btn btn-animated btn-default-transparent" style="float: right">Wyślij<i class="fa fa-arrow-right"></i></button>
						</form>
					</div>
				</div>
			</div>
		</section>

		{% if articles|length > 0 %}
		<section class="section light-gray-bg">
			<div class="container">
				<div class="block clearfix">
					<h3 class="title">Najnowsze artykuły</h3>
					<div class="separator-2"></div>

					{% for article in articles reversed %}
					<div class="media margin-clear">
						<div class="media-body">
							<h6 class="media-heading"><a href="articles/{{ article.id|stringformat:"04d" }}">{{ article.title }}</a></h6>
							{% if article.description|length > 0 %}
							<p class="small margin-clear">{{ article.description }}</p>
							{% else %}
							{% if article.text|length > 100 %}
							<p class="small margin-clear">{{ article.text|slice:":97" }}...</p>
							{% else %}
							<p class="small margin-clear">{{ article.text }}</p>
							{% endif %}
							{% endif %}
						</div>
						<hr>
					</div>
					{% endfor %}

					<div class="text-right space-top">
						<a href="all_articles/" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>Więcej artykułów</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section light-gray-bg pv-40 clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-to-action text-center">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="title">Zapisz się do newslettera</h2>
									<div class="separator"></div>
									<form class="form-inline margin-clear" action="/newsletter/" method="post" accept-charset="utf-8">
										{% csrf_token %}
										<div class="input-group input-group">
											<div class="input-group-addon">@</div>
											<input class="form-control" type="email" name="email" id="id_email" placeholder="Adres E-Mail" required>
										</div>
										<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Wyślij<i class="fa fa-send"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endif %}

		{% endblock %}
