<head>
	{% block title %}<title>Metisflow</title>{% endblock %}

	{% load static %}
	<link rel="shortcut icon" href="{% static "template/images/favicon.ico" %}">

	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

	<!-- Bootstrap core CSS -->
	<link href="{% static "template/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

	<!-- Font Awesome CSS -->
	<link href="{% static "template/fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

	<!-- Fontello CSS -->
	<link href="{% static "template/fonts/fontello/css/fontello.css" %}" rel="stylesheet">

	<!-- Plugins -->
	<link href="{% static "template/plugins/magnific-popup/magnific-popup.css" %}" rel="stylesheet">
	<link href="{% static "template/css/animations.css" %}" rel="stylesheet">
	<link href="{% static "template/plugins/hover/hover-min.css" %}" rel="stylesheet">

	<!-- the project core CSS file -->
	<link href="{% static "template/css/style.css" %}" rel="stylesheet" >
	<link href="{% static "template/css/typography-default.css" %}" rel="stylesheet" >

	<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
	<link href="{% static "template/css/skins/light_blue.css" %}" rel="stylesheet">
	<!-- Custom css -->
	<link href="{% static "template/css/custom.css" %}" rel="stylesheet">

	<link href="{% static "cookielaw/css/cookielaw.css" %}" rel="stylesheet">
</head>

{% load static %}

<body style="background-color: #24bec3">
	<div class="col-md-6">
		<img style="max-height: 14vh" src="{% static "gfx/metiz.png"%}">
	</div>
	<div class="col-md-6" style="height: 14vh; text-align: right; color: white; font-size: 36px; line-height: 14vh;">
		<b>Your CFO at click-distance.</b>
	</div>
	{% if post %}
	<br><br><br>
	<center style="font-size: 26px">Thanks for signing up for early access invite!</center>
	{% else %}
	<div style="font-size: 36px; color: white;">
		<p class="lead" style="font-size: 36px; margin-left: 10vw;">Optimizing your finances while you expand the business.</p>
		<br><br>
	</div>
	<div class="col-md-6">
		<img style="max-height: 66vh; float: right" src="{% static "gfx/metizbkg.png"%}">
	</div>
	<div class="col-md-6" style="padding-left:40px; color: white; padding-top: 40px">
		<ul class="list lead" style="color: white">
			<li class="medium"><i class="icon-check"></i> Cashflow awareness</li>
			<li class="medium"><i class="icon-check"></i> Management benchmarks</li>
			<li class="medium"><i class="icon-check"></i> Actionable intelligence</li>
			<li class="medium"><i class="icon-check"></i> Forecast-based decision-making</li>
		</ul>
		<br><br>
		<p class="lead">Sign up for early access invite</p>
		<form class="form-inline" action="/metisflow/" method="post" accept-charset="utf-8">
			{% csrf_token %}
			<div class="input-group input-group">
				<div class="input-group-addon">@</div>
				<input class="form-control" type="email" name="email" id="id_email" required>
			</div>
			<button type="submit" class="save btn btn-animated btn-transparent" style="color: black">Send<i class="fa fa-arrow-right"></i></button>
		</form>
	</div>
	{% endif %}
</body>
