{% extends "index_base.html" %}
{% load static %}

{% block title %}
<title>Lendguru.pl | Newsletter</title>
{% endblock %}

{% block body %}
<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Zapisz się do newslettera</h1>
							<div class="separator-2"></div>
							{% if post %}
							<p>Zostałeś zapisany do newslettera!</p>
							{% else %}
							<p>Jeżeli chcesz być na bieżąco, podaj swój adres e-mail, a będziemy wysyłać do Ciebie to, Cię najbardziej interesuje.</p>
							<div id="formularz">
								<form class="form-inline" action="/newsletter/" method="post" accept-charset="utf-8">
									{% csrf_token %}
									{{ form.email.label }}
									<br/>
									<div class="input-group input-group">
										<div class="input-group-addon">@</div>
										<input class="form-control" type="email" name="email" id="id_email" required>
									</div>
									<button type="submit" class="save btn btn-animated btn-transparent">Wyślij<i class="fa fa-arrow-right"></i></button>
								</form>
								</div>
								{% endif %}
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>

{% endblock %}
