{% extends "index_base.html" %}
{% load static %}

{% block body %}
<div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Consectetur adipisicing elit. Nemo architecto debitis dolorum ullam in ut sint, odit maiores eaque explicabo, repellendus minima soluta sunt! Nisi minima blanditiis voluptate, ut atque.</p>
					<p>Culpa expedita! Quisquam, itaque officiis nisi nam doloribus explicabo possimus, dolorum alias provident maxime temporibus, enim voluptatibus! Molestias, accusantium cum impedit sint velit exercitationem deserunt, corporis magni provident earum, ullam iusto voluptatem iste animi inventore ab cupiditate quod laborum quasi libero doloremque obcaecati eius. Ut, reprehenderit optio unde accusantium quia qui! Debitis delectus corporis aspernatur nemo aut, odio harum ea repellendus quidem, saepe, incidunt? Assumenda deserunt unde minima aspernatur ducimus velit molestiae, minus eius inventore, dolore temporibus odio distinctio optio.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-sm btn-default">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container" style="width: 75%">
		<h1>Gotowe!</h1>
		<p>Twoj formularz zostal przeslany!</p>
		<br>
		<h1>Wyniki:</h1>
		{% if array|length > 0%}
		<p>(w przygotowaniu)</p>
		<center>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Nazwa</th>
					<th>Minimalny/Maksymalny APR</th>
					<th>BIK/KRD</th>
					<th>Dodatkowe wymagania</th>
					<th>Kaucja</th>
					<th>Czas na decyzję</th>
					<th>Więcej informacji</th>
					<th>URL/E-mail</th>
				</tr>
				{% for row in array %}
				<tr>
					<td>{{ row.name }}<br>
					<img style="max-width: 100px" src="{% static "lenderlogos/"|add:row.logofname %}" alt=""></td>
					{% if row.minAPR and row.maxAPR %}
					<td>{{ row.minAPR}}/{{ row.maxAPR }}</td>
					{% else %}
					<td></td>
					{% endif %}
					{% if row.isBIKchecked and row.isKRDchecked %}
					<td>{{ row.isBIKchecked }}/{{ row.isKRDchecked }}</td>
					{% else %}
					<td></td>
					{% endif %}
					<td>{{ row.otherReq }}</td>
					<td>{{ row.isCollateral }}</td>
					{% if row.timeToDecide %}
					<td>{{ row.timeToDecide }}</td>
					{% else %}
					<td></td>
					{% endif %}
					<td>{{ row.moreInfo }}</td>
					{% if row.isOnline %}
					<td><a href="{{ row.website }}">Przejdź</a></td>
					{% else %}
					<td>Offline</td>
					{% endif %}
				</tr>
				{% endfor %}
				</table>
			</center>
		{% else %}
		<b>Brak wyników odpowiadających podanym danym!</b>
		{% endif %}

		<!--
		{% if popup == 1 %}
			<br>
			<br>
			<p>Chcesz polecić nas znajomym?</p>
		{% endif %}-->

		<br><br>
		<h1>Więcej</h1>
		<p>Jeżeli chcesz dowiedzieć się czegoś więcej na temat finansowania, zapraszamy do przeczytania <a href="http://lendguru.pl/articles/0013/">tego artykułu.</a></p>
		<br><br>
	</div>
	<section class="section light-gray-bg pv-40 clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="call-to-action text-center">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<h2 class="title">Zadowolony z Lendguru? Poleć nas znajomym!</h2>
								<div class="separator"></div>
								<form class="form-inline margin-clear">
									<div class="form-group has-feedback">
										<label class="sr-only" for="subscribe">Adres e-mail</label>
										<input type="email" class="form-control" id="subscribe" placeholder="Adres e-mail znajomego" name="subscribe" required="">
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Wyślij <i class="fa fa-send"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
